version: '2'

services:
  mysql:
    image: mysql:5.7
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: lolamarellagoodies
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
  api:
    image: maandr/lmg-api:latest
    ports:
      - 3000:3000
    environment:
      MYSQL_USERNAME: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: lolamarellagoodies

volumes:
  db_data: